/*@font-face {
    font-family: os;
    font-weight: 400;
    src: url($font_path + '.eot');
	src: url($font_path + '.eot?#iefix') format('embedded-opentype'),
	url($font_path + '.woff2') format('woff2'), 
	url($font_path + '.woff') format('woff'),
	url($font_path + '.ttf')  format('truetype'),
	url($font_path + '.svg#svgFontName') format('svg');
}*/